<div class="background">
  <div class="bg">
    <div class="container-landing">
      <div class="text-center">
        <div class="logo">
          <img src="../../assets/ScoutLogo.svg">
        </div>
        <div class="btn-top">
          <div class="form-inline search-group" novalidate>
            <div class="input-group mb-2 mb-sm-0">
              <input type="text" class="form-control" [(ngModel)]="business" placeholder="Business Type">
            </div>
            <div class="input-group mb-2 mb-sm-0">
              <input type="text" class="form-control" [(ngModel)]="zip" placeholder="Zip Code">
            </div>
            <button class="btn btn-gold my-2 my-sm-0" type="submit" [routerLink]="['/map-api']" [queryParams]="{zip: zip, business: business}">Search</button>
          </div>
        </div>
      </div>
      <div class="bottom-content row">
        <img src="../../assets/Bottom.svg">
      </div>
    </div>
  </div>
</div>