<div class="background">
  <div class="bg">
    <div class="text-center container-landing">
      <h1 class="white">WELCOME TO SCOUT</h1>
      <p class="white">A merchant comparison tool powered by Visa's Merchant Comparison API</p>
      <div class="btn-top">
        <button class="btn" *ngIf="!isForm" (click)="isForm = true;">GET STARTED</button>
        <form [formGroup]="searchForm" novalidate *ngIf="isForm" (ngSubmit)="onSubmit(searchForm)">
          <div class="form-group search-group">
            <input class="form-control" formControlName="business" placeholder="Business Type" (keyup)="onKey(searchForm)">
            <input class="form-control" formControlName="zip" placeholder="Zip">
            <button class="btn btn-primary" type="submit" [routerLink]="['/crisis-center']">GO</button>
          </div>
        </form>
      </div>

      <div class="bottom-content row">
        <div class="col-sm not-middle-col">
          Test content
        </div>
        <div class="col-sm">
          Test content 2
        </div>
        <div class="col-sm not-middle-col">
          Test content 3
        </div>
      </div>
    </div>
  </div>
</div>