.background {
    background-color: #1D1F36;
    /* background-image:linear-gradient(#2B2E47, #0E0E24); */
    background-image: radial-gradient(at top, #2B2E47, #0E0E24);
    min-height: 100vh;
}

.bg {
    background-color: transparent;
    background-image: linear-gradient(0deg, 
            transparent 24%, 
            rgba(0, 0, 0, .15) 25%, 
            rgba(0, 0, 0, .15) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(0, 0, 0, .15) 75%, 
            rgba(0, 0, 0, .15) 76%, 
            transparent 77%, 
            transparent), 
        linear-gradient(90deg, 
            transparent 24%, 
            rgba(0, 0, 0, .15) 25%, 
            rgba(0, 0, 0, .15) 26%,
            transparent 27%, 
            transparent 74%, 
            rgba(0, 0, 0, .15) 75%, 
            rgba(0, 0, 0, .15) 76%, 
            transparent 77%, 
            transparent);
    height:100%;
    background-size:50px 50px;
    min-height: 100vh;
    box-sizing: border-box;
    
    /* background: url('../../assets/landing.png') no-repeat top center; */
    /* position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-size: cover; */
}

.container-landing {
    padding-top: 150px;
    background: url('../../assets/landing-map2.svg') no-repeat center center;
    /* background-size: cover; */
    /* min-height: 100vh; */
}

.white {
    color: #DFDFDF;
}

.container-landing h1 {
    font-weight: 700;
}

.btn-top {
    max-width: 500px;
    position: relative;
    margin: 150px auto;
}
.search-group {
    margin: 0 auto;
}
.form-control {
    margin: 5px
}

/* .container-landing .btn {
    text-transform: uppercase;
    padding: 1em 3em;
    font-weight: 700;
    color: #143D6E;
} */

.btn-gold {
    background-color: #FBD110;
    color: #192161;
}

.bottom-content {
    color: #DFDFDF;
    margin: 150px 0 0;
    width: 100%;
}

.bottom-content img {
    margin: 0 auto;
}

.bottom-content .not-middle-col {
    padding-top: 2em;
}