.map-nav {
    background: #192161;
    font-family: 'Raleway', sans-serif;
    border-bottom: 3px solid #FBD110;
}

.brand-text {
    font-weight: bold;
    padding-left:10px;
}

.input-group {
    margin-right: 10px;
}

#googleMap {
    width:100vw;
    height: calc(100vh - 250px);
}