/* GLOBAL */
 h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;    
 }

 p, span, a {
    font-family: 'Open Sans', sans-serif;    
 }

 .white {
     color: white;
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 /* BootSTrap */
.btn-primary {
    background-color: transparent;
    border-color: white;
}