/* GLOBAL */
 h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;    
 }

 p, span, a {
    font-family: 'Open Sans', sans-serif;    
 }

 .white {
     color: white;
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 /* BootSTrap */
.btn-primary {
    background-color: white;
    border-color: white;
    color: blue;
}

.btn-green{
    background-color: #70D56F;
    color: white;
    width: 100%;
    cursor: pointer;
}

h1.popupHeading {
    font-size: 1.2em;
}

.btn-success {
    background-color: #70D56F;
}

.btn-gold {
    background-color: #FBD110;
    color: #192161;
}